<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon" />
    <title>VOIT</title>
  </head>

  <body>
    <div class="container">
      <!-- <div class="theme">Dark</div> -->
      <nav>
        <ul>
          <div class="top">
            <li>
              <a href="/"
                ><img src="./assets/VOIT.png" alt="logo" height="50px"
              /></a>
            </li>
          </div>
          <div class="bottom">
            <li>
              <a href="/mic"
                ><img src="./assets/mic.png" alt="logo" height="35px"
              /></a>
            </li>
          </div>
        </ul>
      </nav>
