<%- include("partials/header") %>
<div class="content">
<button class="mic">
  <img src="assets/mic.png" alt="mic-icon" height="100px" />
</button>
<div class="preview">
</div>
<div class="commands">
</div>
</div>
<%- include("partials/footer") %>
<script src="mic.js"></script>
</html>