<%- include("partials/header") %> 
<div class="signin">
    <div class="signin-types">
        <div class="signin-type sign-up active"><h3>Sign Up</h3></div>
        <div class="signin-type log-in"><h3>Log In</h3></div>
    </div>
        <form>
            <div class="msg"></div>
            <label for="email">Email Id</label>
            <input type="email" name="email" required autocomplete="off">
            <label for="pass">Password</label>
            <input type="password" name="pass" required minlength=6>
            <button>Submit</button>
        </form>
</div>
<%- include("partials/footer") %>
<script>
    const signUp = document.querySelector(".sign-up");
    const logIn = document.querySelector(".log-in");
    const form = document.querySelector("form");
    const msg = document.querySelector(".msg");

    // switching sign-in mode
    signUp.addEventListener("click",()=>{
        logIn.classList.remove("active");
        signUp.classList.add("active");
        msg.style.display = "none";
    })
    logIn.addEventListener("click",()=>{
        signUp.classList.remove("active");
        logIn.classList.add("active");
        msg.style.display = "none";
    })

    // sending a signup request
    const sendSignUp = async (mail,pass) => {
        try{
            const resS = await fetch("/signin/signup",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({mail,pass})
            })
            // console.log(resS);  
            const data = await resS.json()
            console.log(data);
            if(!data.error){
                msg.style.display = "flex";
                msg.style.backgroundColor  = "#00ff00";
                msg.textContent = "SUCCESS";
                // location.assign("/mic");
            }else{
                msg.style.display = "flex";
                msg.style.backgroundColor = "#ff0000";
                msg.textContent = data.error;
            }
            }
            catch(err) {
            console.log(err);
            }
    }
    // sending a login request to the server
    const sendLogIn = async (mail,pass) => {
        try {
            const resL = await fetch("/signin/login",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({mail,pass})
            })
            // console.log(resL);
            const data = await resL.json();
            console.log(data);
            msg.textContent = data.user;
            if(data.user === "SUCCESS"){
                msg.style.display = "flex";
                msg.style.backgroundColor  = "#00ff00";
                location.assign("/mic");
            } else {
                msg.style.display = "flex";
                msg.style.backgroundColor = "#ff0000";
            }
        } catch (err) {
            console.log(err)
        }
    } 
    // sending data to thte server
    form.addEventListener("submit",async (e)=>{
        e.preventDefault();
        const mail = form.email.value;
        const pass = form.pass.value;
        const mode = signUp.classList.contains("active")?"signup":"login"
        // console.log(mail,pass,mode);
        if(mode === "signup"){
            sendSignUp(mail,pass);
        } else if(mode === "login"){
            sendLogIn(mail,pass);
        }
    })
</script>
</html>